## Chapter 20: List

### Section 20.1 List methods and supported operators

In [41]:
a = [1, 2, 3 ,4 ,5]

In [42]:
a.append(6)
a.append(7)
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 7, 7]

In [43]:
b = [8, 9]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [44]:
my_string = "Hello World"
a.append(my_string)
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'Hello World']

In [45]:
a = [1, 2, 3 ,4 ,5, 6, 7, 7]
b = [8, 9]
a.append(b)
print(a)
a[8]

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

[8, 9]

In [46]:
a = [1, 2, 3 ,4 ,5, 6, 7, 7]
b = [8, 9, 10]
a.extend(b)
print(a)
a.extend(range(3))
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [47]:
a = [1, 2, 3 ,4 ,5, 6] + [7, 7] + b
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [48]:
a.index(7)

6

In [49]:
a.index(49)

ValueError: 49 is not in list

In [ ]:
a.index(7 ,7)

7

In [ ]:
a.index(7 ,8)

ValueError: 7 is not in list

In [ ]:
a.insert(0, 0)
a.insert(2, 5)
print(a)

[0, 0, 5, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
a.pop(2)
print(a)

[0, 0, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
a.pop(8)
print(a)

[0, 0, 2, 3, 4, 5, 6, 7, 9, 10]

In [ ]:
a.pop()
print(a)

[0, 0, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
a.remove(0)
a.remove(9)
print(a)

[0, 2, 3, 4, 5, 6, 7]

In [ ]:
a.remove(10)

ValueError: list.remove(x): x not in list

In [ ]:
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 0]

In [ ]:
a.count(7)

1

In [ ]:
a.sort()
print(a)

[0, 2, 3, 4, 5, 6, 7]

In [ ]:
a.sort(reverse=True)
print(a)

[7, 6, 5, 4, 3, 2, 0]

In [ ]:
import datetime

class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height


    def __repr__(self):
        return self.name
    
l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
    Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
    Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]

l.sort(key=lambda item: item.name)
print (l)

l.sort(key=lambda item: item.birthday)
print (l)

l.sort(key=lambda item: item.height)
print (l)

[Chuck Norris, John Cena, Jon Skeet]
[Chuck Norris, Jon Skeet, John Cena]
[John Cena, Chuck Norris, Jon Skeet]

In [ ]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'height': 175},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'height': 180},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]
l.sort(key=lambda item: item['name'])
print (l)
l.sort(key=lambda item: item['birthday'])
print (l)
l.sort(key=lambda item: item['height'])
print (l)

[{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'height': 180}, {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]
[{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'height': 180}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}, {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}]
[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}, {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'height': 180}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [ ]:
import datetime

l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'size': {'height': 175,
'weight': 100}},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'size' : {'height': 180,
'weight': 90}},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185,
'weight': 110}}]

l.sort(key=lambda item: item['size']['height'])
print (l)

[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'size': {'height': 175, 'weight': 100}}, {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'size': {'height': 180, 'weight': 90}}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185, 'weight': 110}}]

In [ ]:
from operator import itemgetter,attrgetter

people = [{'name':'chandan','age':20,'salary':2000},
{'name':'chetan','age':18,'salary':5000},
{'name':'guru','age':30,'salary':3000}]

by_age = itemgetter('age')

by_salary = itemgetter('salary')

people.sort(key=by_age) #in-place sorting by age
people.sort(key=by_salary) #in-place sorting by salary
print(people)

[{'name': 'chandan', 'age': 20, 'salary': 2000}, {'name': 'guru', 'age': 30, 'salary': 3000}, {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [ ]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples)

[(5, 0), (1, 2), (3, 4)]

In [ ]:
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
        Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
        Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] #reusing Person class from above
persons.sort(key=attrgetter('name')) #sort by name
by_birthday = attrgetter('birthday')
persons.sort(key=by_birthday) #sort by birthday

print(persons)

[Chuck Norris, Jon Skeet, John Cena]

In [ ]:
a.clear()
print(a)

[]

In [ ]:
b =["blah"] * 3
print(b)

['blah', 'blah', 'blah']

In [ ]:
b = [1, 3, 5] * 5
b

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [ ]:
a = list(range(10))
del a[::2]
print(a)
del a[-1]
print(a)
del a[:]
print(a)

[1, 3, 5, 7, 9]
[1, 3, 5, 7]
[]

In [ ]:
b = a
a.append(6)
b

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 6, 6]

In [ ]:
c = a[:]
print(c)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
c = list(a)
print(c)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
import copy
c = copy.copy(a)
print(c)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
import copy
c = copy.deepcopy(a)
print(c)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
aa = a.copy() + a
print(aa)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

### Section 20.2: Accessiong list values

In [ ]:
lst = [1, 2, 3, 4,]
print (lst[0])
lst[1]

1

2

In [ ]:
lst [4]

IndexError: list index out of range

In [ ]:
print(lst[-1])
print(lst[-2])
print(lst[-5])

4
3

IndexError: list index out of range

In [ ]:
lst[len(lst)-1]

4

In [ ]:
print(lst[1:])
print(lst[:3])
print(lst[::2])
print(lst[::-1])
print(lst[-1:0:-1])
print(lst[5:8])
print(lst[1:10])

[2, 3, 4]
[1, 2, 3]
[1, 3]
[4, 3, 2, 1]
[4, 3, 2]
[]
[2, 3, 4]

In [ ]:
lst[::-1]

[4, 3, 2, 1]

In [ ]:
lst[3:1:-1]

[4, 3]

In [ ]:
reversed((lst)[0:2])

In [ ]:
data = 'chandan purohit 22 2000'
name_slice = slice(0, 19)
age_slice = slice(19, 21)
salary_slice = slice(22, None)

print(data[name_slice]) #chandan purohit
print(data[age_slice]) #'22'
print(data[salary_slice]) #'2000'

chandan purohit 22
20
0

### Section 20.3: Checking if list is empty

In [ ]:
lst = []
if not lst:
    print("list is empty")

list is empty

### Section 20.4: Iterating over a list

In [ ]:
my_list = ['foo', 'bar', 'baz']
for item in my_list:
    print(item)

foo
bar
baz

In [ ]:
for  (index, item) in enumerate(my_list):
    print('The item in position {} is {}'.format(index, item))

The item in position 0 is foo
The item in position 1 is bar
The item in position 2 is baz

In [ ]:
for i in range(0, len(my_list)):
    print(my_list[i])

foo
bar
baz

In [ ]:
for item in my_list:
    if item == 'foo':
        del my_list[0]
    print(item)

foo
baz

### Section 20.5: Checking whether an item exists in a list

In [ ]:
lst = ['test', 'twest', 'tweast', 'treast']

print('test' in lst)

'toast' in lst

True

False

In [ ]:
slst = set(lst)
'test' in slst

True

### Section 20.6: Any and All

In [ ]:
nums = [1, 1, 0, 1]
print(all(nums))

chars = ['a', 'b', 'c', 'd']
all(chars)

False

True

In [ ]:
nums = [1, 1, 0, 1]
print(any(nums))

vals = [None, None, None, False]
any(vals)

True

False

In [ ]:
vals = [1, 2, 3, 4]
print(any (val > 12 for val in vals))
any ((val *2) > 6 for val in vals)

False

True

### Section 20.7: Reversing list elements

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
rev = reversed(numbers)
rev

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 20.8: Concatenate an Merge Lists

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [ ]:
alist = []
len(list(zip(alist, blist)))

0

In [50]:
alist = ['a1', 'a2', 'a3']
blist = ['b1']
clist = ['c1', 'c2', 'c3', 'c4', ]

for a,b,c in itertools.zip_longest(alist, blist, clist):
    print(a, b, c)

# Output:
# a1 b1 c1
# a2 None c2
# a3 None c3
# None None c4

NameError: name 'itertools' is not defined

In [ ]:
alist = [123, 'xyz' 'zara', 'abc']
alist.insert(3, [2009])
print("Final List:", alist)

Final List: [123, 'xyzzara', 'abc', [2009]]

### Section 20.9: Length of a list

In [52]:
print(len(['one', 'two']))
len(['one', [2, 3], 'four'])

2

3

### Section 20.10: Remove duplicate values in list

In [54]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))

['edik', 'duke', 'aixk', 'tofp']

In [63]:
import collections
>>> collections.OrderedDict.fromkeys(names).keys()

odict_keys(['aixk', 'duke', 'edik', 'tofp'])

### Section 20.11: Comparison of lists

In [65]:
[1, 10, 100] < [2, 10, 100]

True

In [66]:
[1, 10, 100] < [1, 10, 100]

False

In [67]:
[1, 10, 100] <= [1, 10, 100]

True

In [68]:
[1, 10, 100] < [1, 10, 101]

True

In [69]:
[1, 10, 100] < [0, 10, 100]

False

In [71]:
[1, 10] < [1, 10, 100]

True

In [72]:
alist = [[[1,2],[3,4]], [[5,6,7],[8,9,10], [12, 13, 14]]]

In [73]:
print(alist[0][0][1])

2

In [74]:
print(alist[1][1][2])

10

In [75]:
alist[0][0].append(11)
print(alist[0][0][2])

11

In [76]:
for row in alist:
    for col in row:
        print(col)

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

In [77]:
[col for row in alist for col in row]

[[1, 2, 11], [3, 4], [5, 6, 7], [8, 9, 10], [12, 13, 14]]

In [79]:
alist[1].insert(2, 15)
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, 15, [12, 13, 14]]]

In [80]:
for row in range(len(alist)):
    for col in range(len(alist[row])):
        print(alist[row][col])

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
15
15
[12, 13, 14]

In [81]:
print(alist[1][1:])

[[8, 9, 10], 15, 15, [12, 13, 14]]

In [82]:
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, 15, [12, 13, 14]]]

### Section 20.13: initializing a List to a Fixed Number of Elements

In [83]:
my_list = [None] * 10
my_list = ['test'] * 10

In [84]:
>>> my_list=[{1}] * 10

In [87]:
>>> print(my_list)
[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]
>>> my_list[0].add(2)
>>> print(my_list)

[{1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}]
[{1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}]

In [90]:
my_list=[{1} for _ in range(10)]

print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]